.card-article {
    width: 90vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    background-color: #fff;
    border-radius: 0.65rem;
}

.card-article-image img {
    width: 100%;
}

.card-article-info-perfil-user {
    display: flex;
}

.card-article-info-perfil-user img {
    width: 35px;
    border-radius: 50%;
}

.card-article-info-details {
    padding: 3.5rem 2rem;
}

.card-article-info-details-title,
strong {
    color: hsl(217, 19%, 35%);
}

.card-article-info-details-title {
    font: 700 2.1rem Manrope;
}

.card-article-info-details-body,
.perfil-user-data {
    color: hsl(214, 17%, 51%);
}

.card-article-info-details-body {
    font: 500 1.5rem Manrope;
    margin-top: 2rem;
}

.card-article-info-perfil-user-info {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
}

.card-article-info-perfil-user {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-article-info-perfil {
    position: relative;
}

.perfil-social-content img {
    margin-right: 2rem;
}

.card-article-info-perfil-btn {
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    border: 0;
    position: absolute;
    top: calc(50% - 1.5rem);
    right: 3rem;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-article-info-perfil-btn.active {
    background-color: hsl(214, 17%, 51%);
}

.card-article-info-perfil-social {
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    padding-left: 0rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.perfil-social-content {
    display: flex;
    align-items: center;
}

.perfil-social-content-text {
    color: hsl(214, 17%, 51%);
    margin-right: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

.perfil-social-content svg {
    margin-right: 1rem;
}

.card-article-info-perfil-btn.active svg path {
    fill: #fff;
}

.card-article-info-perfil-btn.active svg path,
.perfil-social-content svg,
.card-article-info-perfil-btn.active,
.card-article-info-perfil-btn {
    -webkit-transition: 0.2s 300ms ease-in;
    -o-transition: 0.2s 300ms ease-in;
    transition: 0.2s 300ms ease-in;
}