:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html,
body,
#root {
    height: 100vh;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
input,
button,
textarea {
    font: 500 1.3rem Manrope;
}

button:active,
button:focus {
    border: 0;
    outline: 0;
    box-shadow: 0 0 0 0.15rem hsl(210, 46%, 95%);
}

@media(min-width: 767px) {
     :root {
        font-size: 62.7%;
    }
    #root {
        overflow: hidden;
    }
}